<h6 class="p-2 text-center page-title smaller-page-title">
    &nbsp; RIBBONS THEME &nbsp;
  </h6>
  
  <div class="d-flex flex-column px-3 text-center">
    <div class="a-contain mx-auto">
      A striking Tumblr theme that practically glows. Use colors and dynamic hover effects to beautify your blog. Developed in HTML and CSS. 
      <div class="link-item my-3 mb-3 mx-auto">
          <a href="https://pineribbonstheme.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i>&nbsp;
       VIEW DEMO ON TUMBLR</a>
      </div>
      <div class="link-item my-3 mb-4 mx-auto">
          <a href="https://github.com/michelle-pine/RibbonsThemeForTumblr" target="_blank"><i class="fa fa-github"></i>&nbsp;
       VIEW CODE ON GITHUB</a>
      </div>
      <div class="d-flex">
        <a href="../../../../assets/images/ribbons-view.png" class="d-block img-contain" target="_blank">
          <img src="../../../../assets/images/ribbons-view.png" class="img-responsive">
        </a>
      </div>
  

    </div>
  </div>