<h6 class="p-2 text-center page-title smaller-page-title">
  &nbsp; EMOTIQUOTE &nbsp;
</h6>
<div class="d-flex flex-column px-3 text-center">
  <div class="a-contain mx-auto">
    <div class="text  mx-auto">
      A ReactJS application for analyzing the emotions of famous (and not-so-famous) people, books, movies, and TV shows. Utilizes
      the extensive data contained in the Mediawiki API and takes advantage of the Indico API's emotional machine learning.
      Made in collaboration with Abigail Hodge, Samantha Price, and Sharon He.
    </div>
    <h2 class="my-4 link-item mx-auto">
      <a href="https://abigailhodge.github.io/emotiquote/" target="_blank">
        <i class="fa fa-laptop"></i>&nbsp;TRY THE APP</a>
    </h2> 
    <h2 class="my-4 link-item mx-auto">
      <a href="https://github.com/michelle-pine/emotiquote" target="_blank">
        <i class="fa fa-github"></i>&nbsp;VIEW IT ON GITHUB</a>
    </h2>
    <div class="img-wrapper">
      <img class="my-4" src="../../../../assets/images/hackbeanpot.jpg">

    </div>
    <caption class="caption mt-2 mb-4 d-block text-center">Sam Price, Abigail Hodge, myself, and Sharon He accepting their awards for <i>Emotiquote</i> at HackBeanpot 2018.</caption>
    <h2 class="my-4 link-item mx-auto">CREATED FOR
      <a href="https://hackbeanpot.com/" target="_blank">HACKBEANPOT</a> 2018! </h2>

      <div class="card">
        <ul class="list-group list-group-flush award-group">
          <li class="list-group-item">
            <i class="fa fa-trophy"></i>&nbsp;
            Winner of Best UI/UX Design
          </li>
          <li class="list-group-item ">
              <i class="fa fa-trophy"></i>&nbsp;
              Winner of Best Use of the Indico API
            </li>
            <li class="list-group-item">
                <i class="fa fa-trophy"></i>&nbsp;
               Among the Top 10 Projects
              </li>
              <li class="list-group-item">
                  <i class="fa fa-newspaper-o"></i>&nbsp;
                 Featured in the <a href="https://www.bizjournals.com/boston/news/2018/02/13/hackbeanpot-hackathon-winners-focus-on-emotion-ai.html" >Boston Business Journal</a>
                </li>
        </ul>
      </div>



  </div>

</div>