@import '../../../../custom_variables';



.img-wrapper {
    width:100%;

    img {
        width:100%;
    }
}


.award-group {
    font-size:20px;
     i {
         color:$accent2;
         font-size:25px;
     }
}