<h6 class="p-2 text-center page-title smaller-page-title">
  &nbsp; MAZE GAME &nbsp;
</h6>

<div class="d-flex flex-column px-3 text-center">
  <div class="a-contain mx-auto">
    A maze generator/solver game that utilizes Kruskal's Algorithm, breadth-first search, and depth-first search. Developed
    in Java.
    <div class="d-flex p-3 my-3 proj-images">
      <a href="./assets/images/for1.png" class="m-2" target="_blank">
        <img src="./assets/images/maze1.png">
      </a>
      <a href="./assets/images/for2.png" class="m-2" target="_blank">
        <img src="./assets/images/maze2.png">
      </a>
      <a href="./assets/images/for1.png" class="m-2" target="_blank">
        <img src="./assets/images/maze3.png">
      </a>
    </div>
    

    <app-locked-project></app-locked-project>
  </div>
</div>