
@import '../../../custom_variables';

.header {
    width:100vw;
    height:100vh;
    background:white;
    @include vertical-gradient();
    color:#fff;
    overflow:hidden;
    left:0;
    
    
    
    

    .moving {
        width:100vw;
        position:absolute;

        height:100vh;
        background-image:url('../../../assets/images/stars.gif')
    }

    .header-inner {
        width:100%;
        height:100%;
        font-size:35px;
    }

  


    h2 {
        text-transform:uppercase;
        font-size:80%;
        font-weight:400;
        color: $accent1;
    }

    p {
        font-size:40%;
        max-width:100%;
    }

    .strip {
        width:50vw;
        min-width:300px;
        height:300px;
        background:#fff;
   
        color:black;
        padding:20px;
        @include boxShadow();
        @include transitions();
        max-width:700px;
       
        



    }

    .profile-pic {
        width:215px;
        height:215px;
     
        
    }

    .profile-pic img {
        @include boxShadow();
       
        width:100%;
        border-radius:50%;
    }

    .header-text {
        width:35vw;
       
        max-width:325px;
        min-width:275px;
        padding:25px;
    }

    .header-link {
        position:absolute;
        width:100%;
        
        font-size:50px;
        z-index:1029;
        bottom:40px;
        color:$text-color;
        text-align:center;
        margin:0 auto;

        
    }

    #down {
        cursor:pointer;
        color:#000;
        @include transitions();
        text-shadow: 2px 2px 4px rgba(0,0,0,0.15);

    }

    #down:hover {
        color:#fff;
    }

    @media screen and (max-width: 1165px) {
        .strip {
            min-width:300px;
            height:auto;
        }
        .header-text {
            text-align:center!important;
        }

        .profile-pic {
            margin-top:10px;
            height:150px;
            width:150px;
        }
       
    }
}


