<div class="header">
  <div class="moving">
  <div class="header-inner d-flex align-items-center justify-content-center">
  <div class="strip d-flex align-items-center justify-content-center">
    <div class="profile-pic d-flex align-items-center hidden-md-down">
      <img src="../../assets/images/profile_pic.svg">
    </div>
    <div class="header-text text-center  text-md-left ">
      <h2>Michelle Pine</h2>
      <p>A computer science student and designer, specializing in the visual side of technology.</p>
    </div>
    

  </div>
</div>

  <div class="header-link">

    <a routerLink="/projects" id="down"><i class="fa fa-chevron-down"></i></a>

     

  </div>

</div>
</div>