<h6 class="p-2 text-center page-title smaller-page-title">
    &nbsp; THE EASY ANIMATOR &nbsp;
  </h6>
  
  <div class="d-flex flex-column px-3 text-center">
    <div class="a-contain mx-auto justify-content-center">
      A complex animator software which takes textual instructions as an input and outputs a working visual animation. Coded in Java with the Swing Library, this software can produce a textual description of the animation, an interactive animation, or an svg animation per the user's preference. This project was completed in collaboration with Abigail Hodge.
      <div class="d-flex p-3 my-3  easy-animator ">
        <a href="./assets/images/easy-animator.svg" class="m-2 mx-auto" target="_blank">
          <img src="./assets/images/easy-animator.svg">
        </a>
        
        
      </div>
      <caption class="caption d-block text-center mx-auto">An svg animation produced using the Easy Animator</caption>
      
  
      <app-locked-project></app-locked-project>
    </div>
  </div>