@import '../../../custom_variables';
.description {
    width:85vw;
    
}

.card {
    background:white;
}
.about-card {
    width:275px;
    max-width:275px;
    @include boxShadow2();
    @include transitions();


    .list-group-item {
        @include boxShadow2();
        @include transitions();
    }
    
    
    .list-group-item:hover {
        @include boxShadow();
        @include transitions();
        color:$accent1;
    }
    
    .about-icon {
        width:50px;
        height:50px;
        border:3px solid $accent1;
        border-radius:50%;
        background:white;
        color:$accent1;
    
    }
    
    
  
    


}
.no-bottom-border {
    padding-bottom:0;
    margin-bottom:0;
}
.about-card:hover {
    @include boxShadow();
}




.work-card {
    border-radius:25px;
    @include boxShadow2();
    @include transitions();
    width:95vw;
    max-width:1600px;
    
  
    .title {
        width:70%;
        @include horizontal-gradient();
        min-height:50px;
        border-radius:20px;
        color:white;
        @include boxShadow2();
        @include transitions();
        h2 {
            font-weight:400;
            font-size:25px;
        }
    }

    .title:hover {
        @include boxShadow();
    }

    

}

.work-card:hover {
    @include boxShadow();

}

@media screen and (max-width: 720px) {
    .about-card {
        width:90vw;
        min-width:90vw;
   
    }

    .description, .work-card  {
        min-width:95vw;

    }

  

    .work-card .title {
        width:100%;
        border-radius:20px;

        h2 {
            font-size:20px!important;
        }
        
    }



  
}