@import '../../../../custom_variables';

.secondary-title {
  font-size:30px;
  margin-top: 25px;
}
.writing-container {
  justify-content: center;
  .flex-column {
    justify-content: center;
    align-items: center;
    max-width: 250px;
    border: 2px solid $accent1;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.3s all;
    &:hover {
      border-color: $accent2;

      .icon-wrapper { 
        background: $accent2;
        transition: 0.3s all;
      }
    }
  }
  .icon-wrapper {
    width: 150px;
    height: 150px;
    background: $accent1;
    border-radius: 10px;
    margin: 15px;
    color: white;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.supporting-documents-container {
  .support-document {
    display: flex;
    flex-direction: row;
    border: 2px solid $accent1;
    align-items: center;
    margin: 5px;
    transition: 0.3s all;
    padding: 5px;
    border-radius: 5px;

    i {
      margin-right: 10px;
    }

    &:hover {
      border: 2px solid $accent2;
    }
  }
}