<h6 class="p-2 text-center page-title smaller-page-title">
  &nbsp; WRITING SAMPLES &nbsp;
</h6>

<div class="d-flex flex-column px-3 text-center">
  <div class="a-contain mx-auto">
    <p>For Northeastern's Interdisciplinary Advanced Writing class, students are required to complete several writing projects. You may find these writing projects below.</p>
    <div class="writing-container d-flex flex-row align-items-start flex-wrap flex-lg-nowrap">
      <a target="_blank" href="./assets/documents/adv-writing-1.pdf" class="d-flex flex-column text-align-center">
        <div class="icon-wrapper">
          <i class="fa fa-file-pdf-o"></i>
        </div>
        <div class="writing-title">
          <h4>Genre, Rhetoric, and Discourse Analysis</h4>
          <p>An analysis of “The Racist History Behind Facial Recognition” by New York Times graphics editor Sahil Chinoy</p>
        </div>
      </a>
      <a target="_blank" href="https://michelle-pine.github.io/accessible-front-end-dev/" class="d-flex flex-column">
        <div class="icon-wrapper">
          <i class="fa fa-link"></i>
        </div>
        <div class="writing-title">
          <h4>Accessible Front-End Development</h4>
          <p>A reference document describing common mistakes and solutions when creating accessible websites.</p>
        </div>
      </a>
      <a target="_blank" href="./assets/documents/adv-writing-3.pdf" class="d-flex flex-column">
        <div class="icon-wrapper">
          <i class="fa fa-file-pdf-o"></i>
        </div>
        <div class="writing-title">
          <h4>Robot Recruiters: The Rise of AI in Recruiting</h4>
          <p>A literature review examining the circumstances the led to use of AI in recruiting practices, as well as the potentially consequences of such use.</p>
        </div>
      </a>
      <a target="_blank" href="./assets/documents/reflection.pdf" class="d-flex flex-column">
          <div class="icon-wrapper">
            <i class="fa fa-file-pdf-o"></i>
          </div>
          <div class="writing-title">
            <h4>Reflection</h4>
            <p>A reflection of the course's work.</p>
          </div>
        </a>
    </div>
    <h2 class="p-2 text-center page-title smaller-page-title secondary-title">
      &nbsp; SUPPORTING DOCUMENTS &nbsp;
    </h2>
    <div class="supporting-documents-container d-flex flex-column">
      <a href="./assets/documents/MichellePunit1roughdraft.pdf" class="support-document">
        <i class="fa fa-file-pdf-o"></i>
        <div>Rough Draft - Genre, Rhetoric, and Discourse Analysis</div>
      </a>
      <a href="./assets/documents/MichellePRevEvanTothUnit2.pdf" class="support-document">
        <i class="fa fa-file-pdf-o"></i>
        <div>Revision Club Letters - Reference Document</div>
      </a>
      <a href="./assets/documents/MichellePRevElifCUnit3RoughDraft.pdf" class="support-document">
        <i class="fa fa-file-pdf-o"></i>
        <div>Revision Club Letters - Literature Review</div>
      </a>
    </div>
  </div>
</div>