<h6 class="p-2 text-center page-title smaller-page-title">
  &nbsp; BLANKETS FOR BOSTON &nbsp;
</h6>

<div class="d-flex flex-column px-3 text-center">
  <div class="a-contain mx-auto">
    A concept website made for the Mayor's Office of New Urban Mechanics, intended to promote a potential winter activation activity
    for the public.
    <div class="link-item my-3 mb-3 mx-auto">
      <a href="https://michelle-pine.github.io/BlanketsForBoston/" target="_blank">
        <i class="fa fa-laptop"></i>&nbsp; VIEW DEMO</a>
    </div>
    <div class="link-item my-3 mb-4 mx-auto">
      <a href="https://github.com/michelle-pine/BlanketsForBoston" target="_blank">
        <i class="fa fa-github"></i>&nbsp; VIEW CODE ON GITHUB</a>
    </div>
    <div class="d-flex">
      <a href="./assets/images/blankets-view.png" class="d-block img-contain" target="_blank">
        <img src="./assets/images/blankets-view.png" class="img-responsive">
      </a>
    </div>


  </div>
</div>