<h6 class="p-2 text-center page-title mb-0 smaller-page-title">
  &nbsp; PJ VIDEOS &nbsp;

</h6>
<div class="d-flex p-5 flex-column">

  <div class="text text-center mb-4">
    These professional-quqality videos were made using Adobe Premiere Pro and Adobe Photoshop for the Harold Grinspoon Foundation,
    a non-profit which promotes Jewish cultural engagement. The videos were displayed on social media to market their PJ
    Library program to parents and children. All image and music rights belong to the foundation.
  </div>

  <ng-container *ngFor="let video of pjvideos.videos">
  <div class="text text-center mb-4 video-title">
    {{video.caption}}
  </div>
  <div class="embed-responsive embed-responsive-16by9 mx-auto mb-4">
    <video class="" controls="" name="media" poster={{video.poster}}>
      <source src={{video.video}} type="video/mp4">
    </video>
  </div>
</ng-container>




</div>