<!-- <form (submit)="sendEmail(message)">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Your Name" [(ngModel)]="message.name">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Your Email" [(ngModel)]="message.email">
    </div>
    <div>
      <label for="message">Message</label>
      <textarea rows="6" name="message" [(ngModel)]="message.message"></textarea>
    </div>
    <button type="submit">Send Email</button>
</form> -->
<h6 class="p-2 text-center page-title smaller-page-title">
  &nbsp; CONTACT &nbsp;
</h6>
<div class="d-flex flex-column px-3 text-center">
  <div class="a-contain mx-auto">
    <div class="card p-3">
    <div class="text my-3 mx-auto">
      Questions, concerns, or just want to talk? Email me at:
    </div>



    <div class="link-item my-3 mb-5 mx-auto">
        <a href="mailto:michelleashleypine@gmail.com" target="_top"><i class="fa fa-envelope"></i>&nbsp;
     MICHELLEASHLEYPINE@GMAIL.COM</a>
    </div>
  </div>
  </div>
</div>