<h2 class="p-2 text-center page-title mb-5">
  <i class="fa fa-crop"></i> &nbsp; PROJECTS &nbsp;
  <i class="fa fa-code"></i>
</h2>
<div class="project-container card-columns m-2 m-md-3 m-lg-4 ">

  <a *ngFor="let project of projects" [routerLink]="['/projects', project.nickname]" class="m-2" id={{project.nickname}}>
    <div class="project-card card mx-auto">
      <div class="card-block d-flex">
        <div class="img-wrapper align-self-center cover">
          <img src={{project.cover}} alt={{project.name}}>
        </div>
        <div class="caption p-0 card-block">
          <div class="card-text p-3">
            <div class="card-title">
              <i class="fa" [ngClass]="[project.type]"></i>&nbsp;
              <div style="display:inline" *ngIf="project.medal">
                <i class="fa fa-trophy"></i>&nbsp;
              </div>
              {{project.name}}
            </div>
            <p class="desc">{{project.description}}</p>
          </div>
        </div>
      </div>

    </div>

  </a>
</div>