@import '../../../custom_variables';


.cover {
    background-position: 50%;
    background-size: 20vw 20vw;
    min-height: 150px;
    height: 100%;
    width: 40%;
    min-width: 150px;
    @include boxShadow2();
}

.card .cover {
    @include boxShadow();
}

.caption {
    width: 100%;
    height: 100%;
}

.card-block {
    max-height: 100%;
}

.cover img {
    width: 100%;
    height: 100%;
}

.card-text {
    color: #333;
    width: 100%;
}

.card-title {
    font-size: 20px;
    color: $accent1;
    text-transform: uppercase;
    font-weight: 400;
}
.card-deck a {
    width:48%;
}
.project-card {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    @include transitions();
    color: white;
    border: 0;
    @include boxShadow2();
    @include transitions();
}

.project-card:hover {
    @include boxShadow();
}



@media screen and (max-width: 1020px) {


    .card-deck a {
        width:100%;
    }
    .card-title {
        font-size: 17px;
    }
    .card {
        min-height: 150px;
    }
}

@media screen and (max-width: 475px) {
    .project-card {
        box-shadow: none !important;
    }
}



@media screen and (max-width:375px) {
    .desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .desc {
        display: none
    }
    .card {
        height: auto;
    }
}

.card-title i {
    display: inline;
}

.proj-icon {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    color: $accent1;
    border: 2px solid $accent1;
    margin-right: 3px;
}

.proj-icon.trophy {
    color: $accent2;
    border-color: $accent2;
}

@media screen and (min-width:990px) and (max-width:1300px) {
    .caption {
        font-size:13px;
    }
}