@import '../../../../custom_variables';

.info {
    width:50vw;
    text-align:center;
}

.info img {
    width:80%;

}



@media screen and (max-width: 1260px) {
    .info {
        width:80vw;
    }
}

