<h6 class="p-2 text-center page-title smaller-page-title">
    &nbsp; WONDER THEME &nbsp;
  </h6>
  
  <div class="d-flex flex-column px-3 text-center">
    <div class="a-contain mx-auto">
      An extremely colorful, responsive Tumblr theme featuring bright gradients and tons of hover effects. Developed in HTML and CSS. The code alone has over 3,000 hits on Pastebin, and 1,400 notes on Tumblr. 
      <div class="link-item my-3 mb-3 mx-auto">
          <a href="https://pinewondertheme.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i>&nbsp;
       VIEW DEMO ON TUMBLR</a>
      </div>
      <div class="link-item my-3 mb-4 mx-auto">
          <a href="https://github.com/michelle-pine/WonderThemeForTumblr" target="_blank"><i class="fa fa-github"></i>&nbsp;
       VIEW CODE ON GITHUB</a>
      </div>
      <div class="d-flex">
        <a href="../../../../assets/images/wonder-view.png" class="d-block img-contain" target="_blank">
          <img src="../../../../assets/images/wonder-view.png" class="img-responsive">
        </a>
      </div>
  

    </div>
  </div>