@import '../../../custom_variables';
.sidebar {
    width: 300px;
    position: sticky;
    @include vertical-gradient();
    height:100vh;
    color:$bg;
}

.sidebar {
    ul { @include removeUlFormatting();




        li {
            @include removeBullet();
        }
    }
}