<div *ngIf="router.url == '/projects/how'">
    <app-how></app-how>
</div>

<div *ngIf="router.url == '/projects/emotiquote'">
    <app-emotiquote></app-emotiquote>
</div>


<div *ngIf="router.url == '/projects/easy-animator'">
    <app-easy-animator></app-easy-animator>
</div>

<div *ngIf="router.url == '/projects/ribbons'">
    <app-ribbons-theme></app-ribbons-theme>
</div>


<div *ngIf="router.url == '/projects/maze-game'">
    <app-maze-game></app-maze-game>
</div>


<div *ngIf="router.url == '/projects/forbidden-island'">
    <app-forbidden-island></app-forbidden-island>
</div>

<div *ngIf="router.url == '/projects/fearless_flight'">
    <app-fearless-flight></app-fearless-flight>
</div>


<div *ngIf="router.url == '/projects/pj_videos'">
    <app-pj-videos></app-pj-videos>
</div>

<div *ngIf="router.url == '/projects/wonder'">
    <app-wonder-theme></app-wonder-theme>
</div>


<div *ngIf="router.url == '/projects/windy_weather'">
    <app-windy-weather></app-windy-weather>
</div>

<div *ngIf="router.url == '/projects/starborne'">
    <app-starborne-theme></app-starborne-theme>
</div>

<div *ngIf="router.url == '/projects/phases'">
    <app-phases-theme></app-phases-theme>
</div>

<div *ngIf="router.url == '/projects/pj_graphics'">
    <app-pj-graphics></app-pj-graphics>
</div>

<div *ngIf="router.url == '/projects/tumblr_graphics'">
    <app-tumblr-graphics></app-tumblr-graphics>
</div>


<div *ngIf="router.url == '/projects/blankets-for-boston'">
    <app-blankets-for-boston></app-blankets-for-boston>
</div>

<div *ngIf="router.url == '/projects/daylight-theme'">
    <app-daylight-theme></app-daylight-theme>
</div>

<div *ngIf="router.url == '/projects/c3po'">
    <app-c3po-r3></app-c3po-r3>
</div>

<div *ngIf="router.url == '/projects/cf'">
    <app-cf></app-cf>
</div>