@import 'custom_variables';

body {
    font-family: $font-stack!important;
    background: $bg;
    color: $text-color;
    font-weight:300;
    width:100vw;
    height:100%;
    overflow-x:hidden;
    @include fadeIn();
}

a {
    color: $accent1;
}

a:hover {
    color: $accent2;
    text-decoration:none;
    @include transitions();
}



::-webkit-scrollbar-track {
    @include vertical-gradient();
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $bg;
}


.page-title {
   
    border-bottom:3px solid $accent2;
    width:70%;

    margin-left:50%;
    margin-bottom:30px;
    font-size: 6vw;
    @include vertical-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform:translateX(-50%);
    @include transitions();
}


.page-title:hover {
    color:$accent2;
}

.page-title i {
    position: absolute;
}