@import 'custom_variables';

body {
    font-family: $font-stack;
    background: $bg;
    color: $text-color;
}

a {
    color: $accent1;
}

a:hover {
    color: $accent2;
    text-decoration:none;
    @include transitions();
}